<div id="create-channel-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5>Add channel</h5>
      <span class="modalClose" id="add-page-close-button">×</span>
    </div>
    <form
      name="createChannelForm"
      class="modal-body"
      action="/channels"
      method="POST"
    >
      <input
        type="text"
        placeholder="Channel name"
        class="channel-form-input"
        name="channelTitle"
        required
      />
      <input
        type="text"
        placeholder="Channel description"
        class="channel-form-input"
        name="channelDescription"
      />
      <button>登録</button>
    </form>
  </div>
</div>