<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='/destyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/messages.css') }}">
    <title>チャットページ</title>
    <!-- socket.ioの読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Socket.ioのセットアップ
            const socket = io();

            const messageInput = document.getElementById('message-input');
            const messageButton = document.getElementById('send-message');
            const messagesList = document.getElementById('messages');

            // 受け取ったメッセージを描画する
            const appendMessage = message => {
                const li = document.createElement('li');
                li.textContent = message;
                messagesList.appendChild(li);
            };

            // サーバーとの接続確立
            socket.on('connect', () => {
              socket.emit('load messages', { cid: "{{ channel['id'] }}" });
            });

            // メッセージ全件受信処理
            socket.on('messages loaded', messages => messages.forEach(appendMessage));

            // メッセージ送信処理
            messageButton.addEventListener('click', () => {
                socket.emit('send message',{
                  user_id: "{{ uid }}",
                  cid: "{{ channel['id'] }}", 
                  message: messageInput.value
                });
                messageInput.value = '';
                return false;
            });

            // メッセージ受信処理
            socket.on('new message', appendMessage);
        });
    </script>
</head>
<body>
    <h1>チャットページ</h1>
    <ul id="messages"></ul>
    <input type="text" id="message-input" placeholder="メッセージを入力">
    <button id="send-message">送信</button>
</body>
</html>
