<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Welcome To SpartanChat</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
       <div class="auth-login">
         <h1 class="auth-title">Welcome To SpartanChat!!</h1>
            <form class="auth-form" method="post">
                <div class= "input-block">
                    <label for="email-input">mail address</label>
                    <input  type="text"
                            placeholder="メールアドレスを入力してください"
                            name="email"
                            id="email-input"
                            style="width: 280px; height: 20px;"
                            >
                </div>
                <div class="input-block">
                    <label for="password-input">password</label>
                    <input  type="text"
                            placeholder="パスワードを入力してください(8文字以上)"
                            name="password"
                            id="password-input"
                            style="width: 280px; height: 20px;"
                            >
                </div>
                <div class="botton">
                    <button class="login">login</button>
                    <button class="signup">sign up</button>
                </div>
            </form>
        </div> 
    </body>
</html>