{# アプリ動作確認用 #}
{% extends 'auth/base.html' %} {% block title %}
<title>signup</title>
{% endblock %} {% block body %}
<h1>サインアップ画面</h1>
<form method="post" action="{{url_for('signup_process')}}">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="password-confirmation" placeholder="password-confirmation">
    <button type="submit">サインアップ</button>
</form>
{% endblock %}
